extends layout

block content
  h1= title
  - const rabbit = results
  - let results1;
  div(class="container-fluid") 
    div(class="row") 
      each item in rabbit  
        - let destination = `dispatch(\"/rabbit/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.rabbit_type}(#{item.area}) is #{item.cost} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  script. 
    function dispatch(path)
    { 
         window.location.href=path 
    } 
  //div(class='container-fluid')
    //div(class='row')
      //each results1, index in rabbit
       // div( onclick='buy('+index+')') #{results1}